In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| recordDate    | date    |
| temperature   | int     |
+---------------+---------+
id is the column with unique values for this table.
This table contains information about the temperature on a certain day.

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('weather.db')
cur = conn.cursor()

In [3]:
cur.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
)
''')

In [4]:
data = [
    (1, '2016-02-19', 10),
    (2, '2016-02-20', 15),
    (3, '2016-02-21', 20),
    (4, '2016-02-22', 25)
]

In [5]:
cur.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', data)
conn.commit()

In [6]:
query = '''
SELECT w1.id 
FROM Weather w1
JOIN Weather w2 
ON w1.recordDate = DATE(w2.recordDate, '+1 day')
WHERE w1.temperature > w2.temperature
'''

In [7]:
cur.execute(query)
results = cur.fetchall()

In [8]:
print("IDs with higher temperatures than the previous day:")
for row in results:
    print(row)

IDs with higher temperatures than the previous day:
(2,)
(3,)
(4,)